body {
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    margin:0 auto;
    max-width: 44em;
    padding: 1em;
}
h1 { margin-block-start: 0em; margin-block-end: 0em;}
h2 { margin-block-start: 1em; }

.container {display: flex;}
.container div {padding: 1em}
@media (max-width: 600px) {
    .container {flex-direction: column}
    .container div {padding: 0em}
}
#profile { border-radius: 50%; max-width: 200px; }

strong {font-weight: 600;}

footer {
    margin-top: 2em;
    font-size: 10px;
    color: #999999;
}